.aboutus-page-container {
    .top-content {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        justify-content: space-between;
        margin-left: 106px;
        margin-right: 70px;

        .para {
            display: flex;
            flex-direction: column;

            .title {
                width: 590px;
                height: 88px;
                font-family: Gilroy;
                font-size: 36px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.44;
                letter-spacing: normal;
                color: #333e49;
                margin-bottom: 30px;
            }

            p {
                width: 638px;
                height: 151px;
                font-family: Muli;
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.78;
                letter-spacing: normal;
                text-align: justify;
                color: #333e49;
            }
        }
    }

    .middle-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 500px;
        margin-left: 106px;
        margin-right: 100px;
        background-image: linear-gradient(to bottom, rgba(234, 98, 107, 0), rgba(255, 255, 255, 0.16));

        img {
            width: 340px;
            height: 380px;
            object-fit: contain;
        }

        .para {
            display: flex;
            flex-direction: column;

            .title {
                width: 318px;
                height: 36px;
                font-family: Gilroy;
                font-size: 36px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.19;
                letter-spacing: normal;
                color: #333e49;
            }

            p {
                width: 706px;
                height: 183px;
                font-family: Muli;
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.78;
                letter-spacing: normal;
                text-align: justify;
                color: #333e49;
                margin-bottom: 70px;
            }
        }
    }

    .bottom-content {
        display: flex;
        flex-direction: row;
        margin-left: 106px;
        margin-right: 100px;
        justify-content: space-between;

        .para {
            display: flex;
            flex-direction: column;

            .title {
                width: 380px;
                height: 36px;
                font-family: Gilroy;
                font-size: 36px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.19;
                letter-spacing: normal;
                color: #333e49;
                margin-bottom: 30px;
            }

            p {
                width: 688px;
                height: 215px;
                font-family: Muli;
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.78;
                letter-spacing: normal;
                text-align: justify;
                color: #333e49;
                margin-bottom: 40px;
            }
        }

        img {
            width: 485px;
            height: 435px;
            object-fit: contain;
        }
    }

    .contact {
        width: 1142px;
        height: 150px;
        border-radius: 11px;
        box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.16);
        background-image: linear-gradient(91deg, #323441 0%, #323441 3%, #373a63 97%);
        margin-left: 20vw;
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 70px;

        .content {
            width: 670px;
            height: 30px;
            font-family: Gilroy;
            font-size: 30px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.73;
            letter-spacing: normal;
            color: #ffffff;
        }
    }

    .backed-by {
        display: flex;
        flex-direction: row;
        width: 700px;
        justify-content: space-around;
        margin-top: 70px;
        margin-left: 30vw;

        p {
            width: 280px;
            height: 36px;
            font-family: Gilroy;
            font-size: 36px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            color: #333e49;
        }

        img {
            width: 263px;
            height: 89px;
            object-fit: contain;
        }
    }
}