.career-page-container {
    display: flex;
    flex-direction: column;

    .top-content {
        text-align: center;
        margin-top: 50px;

        .work-with-us-title {
            font-family: Gilroy;
            font-size: 36px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            color: #333e49;
        }
    
        .join-us-para {
            font-family: Muli;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #333e49;
            margin-bottom: 50px;
        }
    }

    .middle-content {
        margin-top: 60px;
        background-image: linear-gradient(to bottom, #fffbfa, #fffcfb 50%, #ffffff);
        top: 450px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 57px;
        padding-right: 60px;

        p {
            width: 548px;
            height: 303px;
            font-family: Muli;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.94;
            letter-spacing: normal;
            text-align: left;
            color: #333e49;
            text-align: justify;
            margin-left: 8vw;
        }

        .image-container {
            width: 615px;
            height: 375px;
            object-fit: contain;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}