.custom-button-container {
    button {
        width: 171px;
        height: 60px;
        border-radius: 12px;
        background-color: #ea626b;
        border: none;
        outline: none;
        font-family: Muli ExtraLight;
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        &.colour-black {
            background-color: #323441;

            &:hover {
                color: black;
                background-color: white;
                border: 1px solid black;
            }
        }

        &.size-large {
            width: 174px;
            height: 70px;
            border-radius: 18px;
            font-size: 18px;
        }

        &:hover {
            cursor: pointer;
            color: #ea626b;
            background-color: white;
            border: 1px solid #ea626b;
        }

        &.contact-us-button {
            width: 199px;
            height: 55px;
            border-radius: 8px;
            margin-top: 20px;
            background-color: #ffffff;
            font-family: Muli;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: center;
            color: #373a63;

            &:hover {
                cursor: pointer;
                color: #ffffff;
                background-color: #373a63;
                border: 1px solid #ffffff;
            }
        }
    }
}